
body{
    background-color: rgba(107, 175, 187, 0.479);
    
    }
.imagenlogo
{
   width: 100px;
   top: 2px;
   position: absolute;
 
}
.contenedor_1b
{
  margin-left: 1250px;
  top: 2px;
  position: absolute;
}
.contenedor_2
{
    text-align: center;
    color: blue;
}
.contenedor_3
{
    color: blue;
    font-family:cursive;
    text-align: center;
}
.contenedor_4
{
    color: blue;
    text-align: center;
    text-decoration: underline;
}
.contenedor_4b
{
    color: blue;
    text-align: center;
   }
.contenedor_5
{
    color: blue;
    text-align: center;
 }
 .bienvenida
 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
 }
 
 .container
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}
 .videocontainer{max-width: 50%;}

 .imageninvitacion
 {
    width: 400px;
    position: absolute;
    margin-left: 35%;

 }